*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    background-color: #0077b7;
    color: #fff;
    display: flex;
    padding: 20px;
}
nav h1 {
   margin-left: 70px;
}
nav .a{
    margin-left: 500px;
    margin-top:8px;

}
nav .a a{
    text-decoration:none;
    color: #fff;
    text-transform: capitalize;
    margin-left: 20px;
}

nav .a a:hover{
    text-decoration:underline;
}
#inner{
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
}
@media (max-width:1242px) {
   nav div{
    display: none;
   }
   nav{
    display: block;
    text-align: center;
   }
}

@media (max-width:1242px) {
    nav div{
        display: none;
       }
    nav{
        display: block;
        text-align: center;
    }   
}